<div class="modal fade" id="crudModal" tabindex="-1" aria-labelledby="modalTitle" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modalContent"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger d-none" id="deleteRecordBtn">Delete</button>
                <button type="button" class="btn btn-primary" id="saveRecordBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>