<div class="modal-body" id="modalContent">
    <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

    <table class="table table-bordered table-striped">
        <tr>
            <th>Dedication</th>
            <td id="dedication" contenteditable="false"></td>
        </tr>
    </table>

    {% if request.user.is_authenticated %}
        <label>
            <input type="checkbox" id="editToggle">
            Enable Editing
        </label>
            <button type="submit" id="saveChangesBtn">Save Changes</button>
        </form>
    {% endif %}
</div>