<form method="post" id="add-record-form">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% if is_authenticated %}
        {% for field in form %}
            <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
    {% else %}
        {% for field in form %}
            {% if field.value %}
                <div class="mb-3">
                    <label class="form-label">{{ field.label }}</label>
                    {% if field.field.choices %}
                        <input class="form-control" value="{% for val, label in field.field.choices %}{% if val == field.value %}{{ label }}{% endif %}{% endfor %}" readonly disabled>
                    {% else %}
                        <input class="form-control" value="{{ field.value|default_if_none:'' }}" readonly disabled>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if can_delete %}
        <div class="text-end mt-3">
            <button id="deleteRecordBtn" class="btn btn-danger">Delete</button>
        </div>
    {% endif %}
</form>
