/* Palette */
:root {
    --btn-main: #B16351;
    --btn-main-hover: #875448;
    --btn-main-active: #BE8F85;
    --primary: #B16351;
}

/* General Styles */
.d-none {
    display: none !important;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#notification-area {
    position: fixed;
    top: 80px;
    right: 20px;
    z-index: 2000;
}

/* Button Styles */
.btn {
    border-radius: 0;
}

.btn-primary {
    background-color: var(--btn-main);
    border: none;
}

.btn-primary:hover {
    background-color: var(--btn-main-hover);
}

.btn-primary:active,
.btn-primary.active {
    background-color: var(--btn-main-active) !important;
}

