{% extends "base.html" %}
{% load static %}

{% block additional_css %}
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Leaflet.markercluster CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <!-- Custom Map CSS --> 
    <link rel="stylesheet" href="{% static 'mapper/css/map.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid pt-5 pb-5 bg-light">
    <div id="map-container">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="map-filter">
                <label><input type="checkbox" id="view-all-filter" value="All" checked> View All</label>
                <label><input type="checkbox" class="record-type-filter" value="Monastery"> Monastery</label>
                <label><input type="checkbox" class="record-type-filter" value="Rectory"> Rectory</label>
                <label><input type="checkbox" class="record-type-filter" value="Collegiate"> Collegiate</label>
                <!-- Add more filters as needed -->
            </div>
            <div>
                <button class="btn btn-primary" id="add-record-btn">Add Record</button>
            </div>
        </div>
        <div id="map"></div>
    </div>
</div>

{% include "mapper/modals/crud_modal.html" %}

{% endblock %}

{% block additional_scripts %}
    <!-- Custom JS -->
    {% if user.is_authenticated %}
    <script src="{% static 'mapper/js/select2_init.js' %}"></script>
    {% endif %}
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <!-- Leaflet.markercluster JS -->
    <script src="https://unpkg.com/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <!-- Custom Map JS -->
    <script src="{% static 'mapper/js/crud_modal.js' %}"></script>
    <script src="{% static 'mapper/js/markers.js' %}"></script>
    <script src="{% static 'mapper/js/map.js' %}"></script>
    {% if user.is_authenticated %}
    <script src="{% static 'mapper/js/map_add.js' %}"></script>
    {% endif %}
    <script>
        const isUserAuthenticated = {{ is_user_authenticated|yesno:"true,false" }};
        {% if user.is_authenticated %}
        const currentUsername = "{{ user.username|escapejs }}";
        {% else %}
        const currentUsername = null;
        {% endif %}
    </script>
{% endblock %}