{% extends "base.html" %}
{% load static %}

{% block additional_css %}
    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <!-- Custom Map CSS --> 
    <link rel="stylesheet" href="{% static 'mapper/css/map.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid pt-5 pb-5 bg-light">
    <div id="map-container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="map-filter">
                <label><input type="checkbox" class="record-type-filter" value="Monastery" checked> Monastery</label>
                <label><input type="checkbox" class="record-type-filter" value="Rectory" checked> Rectory</label>
                <label><input type="checkbox" class="record-type-filter" value="Collegiate" checked> Collegiate</label>
                <!-- Add more filters as needed -->
            </div>
            {% if user.is_authenticated %}
            <button type="button" id="add-entry-btn" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addEntryModal">
                Add Entry
            </button>
            {% endif %}
        </div>
        <div id="map"></div>
    </div>
</div>

{% include "mapper/modals/view_card_modal.html" %}
{% if user.is_authenticated %}
{% include "mapper/modals/add_entry_modal.html" %}
{% endif %}

{% endblock %}

{% block additional_scripts %}
    <!-- Custom JS -->
    {% if user.is_authenticated %}
    <script src="{% static 'mapper/js/add_entry.js' %}"></script>
    {% endif %}
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <!-- Custom Map JS -->
    <script src="{% static 'mapper/js/markers.js' %}"></script>
    <script src="{% static 'mapper/js/map.js' %}"></script>
{% endblock %}